*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: gray;
  border: 10px solid red;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  height: 10rem;
  background-color: #2229ff;
}

.app {
  /*border: var(--border);*/

  /*width 97% from body for small screens*/
  width: 97%;

  /*max width for big screens*/
  max-width: 90rem;

  /*margin it's distance from frame of the page*/
  margin-left: auto;
  margin-right: auto;

  /*padding it's distance from others elements*/
  padding: 0.1rem 2rem;
}
