*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-size: var(--root-text-size);

  /*#region Variables*/
  --root-text-size: 62.5%
  --primary-text-size: 1.6rem
  --black: rgba(39, 38, 44, 1);
  --gray: rgba(153, 153, 153, 1);
  --primary: rgba(64, 68, 237, 1);
  --secondary: rgba(147, 223, 255, 1);
  --subtitle-font-family: 'IRANSansXFaNum-Regular', Helvetica;
  --subtitle-font-size: 2.4rem;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 400;
  --subtitle-letter-spacing: 0;
  --subtitle-line-height: normal;
  --title-font-family: "JKAbode-RegularDemo", Helvetica, 'sans-serif';
  --title-font-size: 9.6rem;
  --title-font-style: normal;
  --title-font-weight: 400;
  --title-letter-spacing: 0;
  --title-line-height: normal;
  --white: rgb(252, 234, 234);
  
  /*#endregion */
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--root-text-size);
  line-height: 1.5;
  font-weight: 400;
  background-image: url(./assets/images/iStock-1447388979.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  height: 10rem;
  background-color: #2229ff;
}

.app {
  width: 97%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem 2rem;
}

/* Smaller screens, usually mobiles */
@media screen and (max-width: 60rem) {
    html {
        font-size: 50%;  /* Adjusting base font size for mobile */
    }
    .app {
        width: 100%;  
        padding: 0.1rem 1rem;
    }
}

@font-face {
  font-family: "JKAbode-RegularDemo";
  src: url('./assets/fonts/JKAdobeDemo.woff') format('woff');
}
