*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-size: var(--root-text-size);

  /*#region Variables*/
  --root-text-size: 62.5%
  --primary-text-size: 1.6rem
  --black: rgba(39, 38, 44, 1);
  --gray: rgba(153, 153, 153, 1);
  --primary: rgba(64, 68, 237, 1);
  --secondary: rgba(147, 223, 255, 1);
  --subtitle-font-family: 'IRANSansXFaNum-Regular', Helvetica;
  --subtitle-font-size: 2.4rem;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 400;
  --subtitle-letter-spacing: 0;
  --subtitle-line-height: normal;
  --title-font-family: "JKAbode-RegularDemo", Helvetica, 'sans-serif';
  --title-font-size: 9.6rem;
  --title-font-style: normal;
  --title-font-weight: 400;
  --title-letter-spacing: 0;
  --title-line-height: normal;
  --white: rgb(252, 234, 234);
  
  /*#endregion */
}

body {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--root-text-size);
  line-height: 1.5;
  font-weight: 400;
  /* background-color: var(--white); */
  background-image: url(./assets/images/istockphoto-1447388979-612x612.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1rem solid red; */
  min-height: 100dvh;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  height: 10rem;
  background-color: #2229ff;
}

.app {
  /*border: var(--border);*/

  /*width 97% from body for small screens*/
  width: 97%;

  /*max width for big screens*/
  max-width: 90rem;

  /*margin it's distance from frame of the page*/
  margin-left: auto;
  margin-right: auto;

  /*padding it's distance from others elements*/
  padding: 0.1rem 2rem;
}

/* Smaller screens, usually mobiles */
@media screen and (max-width: 60rem) {
    :root {
        font-size: 55%;  /* Adjusting base font size for mobile */
    }
    /* body {
        border: 0.5rem solid red;
    } */
    .app {
        width: 100%;  /* Using full width for mobile */
        padding: 0.1rem 1rem;  /* Less padding on sides for mobile */
    }
}

/* Medium screens, usually tablets */
/* @media screen and (60.1rem<=max-width<= 102.4rem) { */
    /* :root { */
        /* font-size: 58%;  Adjusting base font size for tablets */
    /* } */
    /* body {
        border: 0.7rem solid red;
    } */
    /* .app { */
        /* width: 98%;  Using slightly less full width for tablets */
        /* padding: 0.1rem 1.5rem;  Moderate padding on sides for tablets */
    /* } */
/* } */

/* Large screens, usually desktops */
@media screen and (min-width: 102.5rem) {
    /* This is your default style, so you might not need to repeat it here unless you're overriding previous styles. */
}



@font-face {
  font-family: "JKAbode-RegularDemo";
  src: url('./assets/fonts/JKAdobeDemo.woff') format('woff');
}
