.inputField {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.required {
  color: red;
  margin-left: 0.2rem;
}

.input {
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  transition: border-color 0.3s;
  font-size: 1.4rem;
}

.input:focus, .input:hover {
  border-bottom: .2rem solid black;
}

@media screen and (max-width: 76.8rem) {
  .label {
    font-size: 1.2rem;
  }

  .input {
    font-size: 1.2rem;
  }

  .errorMessage {
    font-size: 1rem;
  }
}
