.button {
  width: 50%;
  /* flex-wrap: wrap; */
  border: none;
  background-color: cadetblue;
  padding: 0.1rem;
  font-size: 1rem;
  color: white;
  margin: 1rem;
  border-radius: 2rem;
  border: solid black 0.1rem;
  outline: 8px ridge rgba(50, 129, 220, 0.6);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.button:focus,
.button:hover {
  border-bottom: 0.2rem solid black;
}

@media (max-width: 70rem) {
  .button {
    margin-bottom: 1rem;
  }
}


