.form {
  width: 100%;
  min-height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.form .div {
  background-color: var(--black);
  max-height: 111.7rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 172.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.elipse1,
.elipse2,
.subtract {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.elipse1 {
  /* Ellipse 1 */
  background: var(--primary);
  border-radius: 50%;
  width: 45.7rem;
  height: 45.7rem;
  /* primary */
}

.elipse2 {
  /* Ellipse 2 */
  background: var(--secondary);
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  transform: matrix(1, 0, 0, -1, 0, 0);
  /* secondary */
}

.subtract {
  /* Subtract */
  background: var(--primary);
  transform: rotate(-45deg);
  width: 53.5rem;
  height: 50.5rem;
  /* primary */
}

.polygon1,
.polygon2,
.polygon3 {
  background: rgba(64, 68, 237, 0.5);
  transform: rotate(-44.32deg);
}

.polygon1 {
  /* Polygon 1 */
  width: 33.647rem;
  height: 336.47px;
  left: 1248px;
  top: 920.08px;
}

.polygon2 {
  /* Polygon 2 */

  position: absolute;
  width: 33.647rem;
  height: 33.647rem;
  left: 135.314rem;
  top: 101.415rem;
}

.polygon3 {
  /* Polygon 3 */

  position: absolute;
  width: 33.647rem;
  height: 33.647rem;
  left: 146.224rem;
  top: 110.697rem;
}

.usernameInputLine {
  /* Line 1 */

  position: absolute;
  width: 53.1rem;
  height: 0rem;
  left: 59.9rem;
  top: 55.9rem;

  border: 0.2rem solid #ffffff;
}

.passwordInputLine {
  /* Line 2 */

  position: absolute;
  width: 531px;
  height: 0px;
  left: 599px;
  top: 659px;

  border: 0.2rem solid #ffffff;
}

.emailAuthHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.userAuthHeading {
  /* LOGIN */

  /* position: absolute;
  width: 19rem;
  height: 9.6rem;
  left: 59.9rem;
  top: 28.9rem; */
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 9.6rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;

  /* title */

  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 9.6rem;
  /* identical to box height */
  color: #ffffff;
}

.username {
  /* Username */

  position: absolute;
  width: 10.9rem;
  height: 3.6rem;
  left: 59.9rem;
  top: 51.3rem;

  /* subtitle */

  font-family: 'IRANSansXFaNum';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  /* identical to box height */

  /* gray */

  color: #999999;
}

.password {
  /* Password */

  position: absolute;
  width: 10.6rem;
  height: 3.6rem;
  left: 59.9rem;
  top: 61.3rem;

  /* subtitle */

  font-family: 'IRANSansXFaNum';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  /* identical to box height */
  color: #999999;
}

.ellipse {
  background-color: var(--secondary);
  border-radius: 38px;
  height: 76px;
  left: 703px;
  position: relative;
  top: 65px;
  width: 76px;
}

.frame {
  /* Frame 1 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 23.9rem;
  gap: 10px;

  position: absolute;
  width: 53.1rem;
  height: 5.6rem;
  left: 59.9rem;
  top: 72.3rem;

  /* primary */

  background-color: var(--primary);
}
.frame .text-wrapper {
  color: var(--white);
  font-family: 'IRANSansXFaNum-Regular', Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
.failure {
  color: red;
}

.success {
  color: rgb(0, 255, 42);
}
