.container {
    border: blue solid 4px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    max-width: 60rem;
    margin: 2rem auto;
}

.radioContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.dayContainer {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
input{
    width: 60%;
}
input[type="time"] {
    width: 60%;
}

.success {
    color: #4CAF50;
}

.failure {
    color: red;
}

/* Media Query for smaller screens */
@media screen and (max-width: 60rem) {
    .dayContainer {
        grid-template-columns: 1fr;
    }
}