.fc-event-available {
    background-color: green;
    color: white;
}

.fc-event-unavailable {
    background-color: gray;
    color: white;
}

.fc-event-appointment {
    background-color: blue;
    color: white;
}